/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #1e1e1e;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  font-size: 17px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: larger;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: cornsilk;
  color: #1e1e1e;
}

/* Current/active navbar link */
.active {
  text-decoration-line: underline;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* aaaaaaaaaa */
.card {
  width: 300px;
}
